.DS_Store

.Rproj.user
.Rapp.history

# data
data/*.config
data/*.exps
data/*.csv
data/pilots/*.csv
data/1_context_choice/*-sandbox-trials.csv
data/2_no_context_choice/*-sandbox-trials.csv

# childes data
data/childes/*.xlsx
data/childes/yiwei.txt
data/childes/renwei.txt
data/childes/juede.txt
data/childes/zhidao.txt
data/childes/*_traditional.txt
data/childes/*_traditional_clean_id.txt
data/childes/zhidao_BJCMC_clean_id.txt
data/childes/zhidao_BJCMC_clean.txt
data/childes/zhidao_BJCMC.txt
data/childes/child/*
data/childes/other_speakers/*
data/childes/old_annotations/*

# analysis
analysis/power_analysis/*.rds
analysis/childes/graphs/old_annotations/*

# writing
writings/*.key
writings/cogsci/*
writings/bucld/*
writings/updates/*

