.DS_Store

.Rproj.user
.Rapp.history

# data
data/*.config

# data
data/childes/yiwei.xlsx
data/childes/yiwei.txt
data/childes/renwei.txt
data/childes/juede.txt
data/childes/zhidao.txt
data/childes/child/*
data/childes/other_speakers/*

# writing
writings/*

